#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#stored-posts {
  margin: 6rem auto 3rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 100%;
  max-width: 30rem;
}

#stored-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#stored-posts li {
  margin: 0.75rem 0;
}

#stored-posts a {
  display: block;
  padding: 0.9rem 1rem;
  width: 100%;
  text-decoration: none;
  border: 1px solid #ccc;
  color: #1b1b1b;
  font-weight: bold;
  border-radius: 8px;
}

#stored-posts a:hover,
#stored-posts a:active {
  background-color: #ccc;
}