{% extends "base.html" %}
{% load static %}
{% block title %}IMMO — Nouvelle propriété{% endblock %}


{% block content %}
<main class="wrap">
  <h1>Nouvelle propriété</h1>

  <form method="post">
    {% csrf_token %}

    <h2>Bien</h2>
    {{ property_form.non_field_errors }}
    {{ property_form.as_p }}

    <h2>Prêt (optionnel)</h2>
    {{ loan_form.non_field_errors }}
    {{ loan_form.as_p }}

    <h2>Loyer / Cash (optionnel)</h2>
    <p class="muted">
      Sert au calcul du cashflow.  
      Le loyer sera <b>proratisé automatiquement</b> si le début n’est pas au 1er du mois.
    </p>
    {{ rent_form.non_field_errors }}
    {{ rent_form.as_p }}

    <button class="btn" type="submit">Créer la propriété</button>
  </form>
</main>
{% endblock %}