{% extends "base.html" %} 
{% load static %}

{% block title %} 
My page 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static "blog/images/me.png" %}" alt="Yannick - premier déploiement" />
    <h2>Yannick Wahl</h2>
  </header>
  <p>Test</p>
</section>

<section id="latest-posts">
  <h2>My Latest posts</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>About</h2>
  <p>
    this page is about programmming 
  </p>
  <p>
    V01
  </p>
</section>
{% endblock %}
